<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>广告分类管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->

<div class="box-header with-border">
    <h3 class="box-title">广告分类管理</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="新建" data-toggle="modal"
                            data-target="#addModal"><i class="fa fa-file-o"></i> 新建
                    </button>
                    <button type="button" class="btn btn-default" title="删除" onclick="deleteBatch();"><i class="fa fa-trash-o"></i> 删除</button>
                    <button type="button" class="btn btn-default" title="开启" onclick='confirm("你确认要开启吗？")'><i
                            class="fa fa-check"></i> 开启
                    </button>
                    <button type="button" class="btn btn-default" title="屏蔽" onclick='confirm("你确认要屏蔽吗？")'><i
                            class="fa fa-ban"></i> 屏蔽
                    </button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>
        <form id="queryForm" method="post" action="/content-cate/topage">
            <div class="pull-right">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" class="form-control pull-right" name="name" placeholder="广告分类名称"
                           th:value="${contentCategoryVo.name}">
                    <input type="hidden" name="pageIndex" id="pageIndex" th:value="${pageutils.pageIndex}"/>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-search">搜索</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" onclick="ckAll();" class="icheckbox_square-blue">
                </th>
                <th class="sorting_asc">分类ID</th>
                <th class="sorting">分类名称</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contentCate:${pageutils.records}">
                <td><input type="checkbox" name="ids" th:value="${contentCate.id}"></td>
                <td th:text="${contentCate.id}">1</td>
                <td th:text="${contentCate.name}">首页轮播广告</td>
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs" data-toggle="modal"
                            th:onclick="|findOneById(${contentCate.id})|" data-target="#editModal">修改
                    </button>
                    <button class="btn bg-red btn-xs" th:onclick="|deleteById(${contentCate.id});|">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->
        <!-- 分页组件 -->
        <div class="row">
            <div class="col-sm-6">
                <div class="dataTables_paginate paging_bootstrap" id="sample-table_paginate">
                    <ul class="pagination">
                        <li class="prev" th:if="${pageutils.pageIndex>1}"><a href="#"
                                                                             th:onclick="'goPage('+${pageutils.pageIndex-1}+')'">上一页</a>
                        </li>
                        <li th:each="num:${pageutils.numbers}" th:class="${pageutils.pageIndex==num}? active"><a
                                href="#" th:onclick="'goPage('+${num}+')'" th:text="${num}">1</a></li>
                        <li class="next" th:if="${pageutils.pageIndex<pageutils.pageCount}"><a href="#"
                                                                                               th:onclick="'goPage('+${pageutils.pageIndex+1}+')'">下一页</a>
                        </li>
                        <li class="next"><a href="#" th:text="|共${pageutils.pageCount}页|">XX</a></li>
                        <li class="next"><a href="#" th:text="|共${pageutils.totalCount}条|">XX</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 分页组件 -->
    </div>
    <!-- 数据表格 /-->
</div>
<!-- /.box-body -->
<!-- 分页 -->


<!-- 编辑窗口 -->
<form id="updateForm">
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">广告分类编辑</h3>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered table-striped" width="800px">
                        <tr>
                            <td>分类名称</td>
                            <td>
								<input type="hidden" name="id" id="id"/>
								<input class="form-control" placeholder="分类名称" name="name" id="name"/></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="updateData();">更新</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form id="addForm">
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel1">广告新增</h3>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered table-striped" width="800px">
                        <tr>
                            <td>分类名称</td>
                            <td><input class="form-control" name="name" placeholder="分类名称"/></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="saveDatas();">新增
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>

</html>

<script type="text/javascript">

    //跳转页面
    function goPage(pageIndex) {
        $("#pageIndex").val(pageIndex);
        $("#queryForm").prop("action", "/content-cate/topage");
        $("#queryForm").submit();
    }

    function deleteById(id) {
        if (confirm("确认要删除吗？")) {
            $.ajax({
                url: "/content_category/deleteById/" + id,
                dataType: "json",
                type: "delete",
                success: function (result) {
                    if (result.code == 200) {
                        alert("删除成功");
                        location.href = "/content-cate/topage";
                    } else if (result.code == 800) {
                        alert("数据使用中，暂时不能删除~");
                    } else {
                        alert("服务器异常，稍后再试~");
                    }
                }
            });
        }
    }


    function saveDatas() {
        var data = $("#addForm").serialize();
        $.post("/content_category/save", data, function (result) {
            if (result.code == 200) {
                alert("新增成功");
                location.href = "/content-cate/topage";
            } else {
                alert("服务器异常，稍后再试~");
            }
        });
    }

    /**
     * 根据ID查询数据回显
     */
    function findOneById(id) {
        //alert(id);
        $.getJSON("/content_category/findOne/" + id, function (result) {
            //alert(JSON.stringify(result));
            if (result.code == 200) {
                var data = result.data;
                //alert(JSON.stringify(data));
                $("#id").val(data.id); //更新藏值
                $("#name").val(data.name);
            } else {
                alert("服务器异常，稍后再试~");
            }
        });
    }

	/**
	 * 更新
	 */
	function updateData() {
		var data=$("#updateForm").serialize()+"&_method=put";
		$.post("/content_category/updateData",data,function (result){
			if(result.code==200){
				alert("更新成功");
				window.location.reload();
			}else{
				alert("服务器异常，稍后再试~");
			}
		},"json");
	}

	/**
	 * 全选
	 */
	function ckAll() {
		$("[name='ids']").prop("checked", $("#selall").prop("checked"));
	}

	$(function () {
		$("[name='ids']").click(function () {
			if($("[name='ids']").length==$("[name='ids']:checked").length){
				$("#selall").prop("checked",true);
			}else{
				$("#selall").prop("checked",false);
			}
		});
	});


	/**
	 * 批量删除
	 */
	function deleteBatch() {
		var arrays=new Array();
		if($("[name='ids']:checked").length>0){
			if(confirm("确定删除这些数据嘛？")){
				$("[name='ids']:checked").each(function (index,element) {
					var id= $(element).val();
					arrays.push(id);
				});
				$.post("/content_category/deleteBatch",{"ids":arrays.toString(),"_method":"delete"},function (result) {
					if(result.code==200){
						alert("删除成功");
						location.href="/content-cate/topage";
					}else if (result.code == 800) {
						alert("ID为"+result.data+"数据使用中，暂时不能删除！");
					} else{
						alert("服务器异常，稍后再试~");
					}
				},"json");
			}
		}else{
			alert("请选中要删除的数据!");
		}
	}


</script>